html
  head
    title Restaurant Ordering System
    style
      include style.css
  body
    include .././views/partials/header
    select#restaurant-select
    br
    br
    #info
    #main
      #left
      #middle
      #right
  
    script
        include orderform.js